<!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container w-50 vertical-center">
                <dl class="row text-white px-5">
                    <dt class="col-lg-5 pl-lg-5 col-sm-4">주소</dt>
                    <dd class="col-lg-7 col-sm-8">서울특별시 도봉구 쌍문1동 삼양로144길 33</dd>
                    <dt class="col-lg-5 pl-lg-5 col-sm-4">전화번호</dt>
                    <dd class="col-lg-7 col-sm-8">02-901-8000</dd>
                </dl>
            </div>

            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>