<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow bg-white rounded">
            <div class="container px-4 px-lg-5 mr-auto">
                <a class="navbar-brand" href="/product/">Internet Programming</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/product/">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/product/popular_items/">Popular Items</a></li>
                                <li><a class="dropdown-item" href="/product/new_arrivals/">New Arrivals</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-expanded="false">제조사</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                {% for c in companies %}
                                <li><a class="dropdown-item" href="{{c.get_absolute_url}}">{{c}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                      <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#signInModal">
                            Sign in
                        </a>
                      </li>
                    </ul>
                    <form class="d-flex ml-1 float-sm-right">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>

                </div>
            </div>
        </nav>
<!-- Modal-->
        <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-right-to-bracket"></i> Sign in</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                      <div class="col">
                          <button type="button" class="btn btn-light btn-block btn-sm"><i class="fa-brands fa-google"></i> Sign in with Google</button>
                          <button type="button" class="btn btn-light btn-block btn-sm"><i class="fa-solid fa-envelope"></i> Sign in with Email</button>
                          <p class="text-center my-3" style="width: 100%; text-align: center; border-bottom: 0.5px solid; line-height: 0.1em;">
                            <small class="font-weight-lighter" style="background:#fff; padding:0 10px;">or</small>
                          </p>
                          <button type="button" class="btn btn-light btn-block btn-sm"><i class="fa-solid fa-envelope"></i> Sign up with Email</button>
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light btn-sm m-0" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>